pkgbase = emptty-bin
	pkgdesc = Dead simple CLI Display Manager on TTY
	pkgver = 0.12.1
	pkgrel = 1
	url = https://github.com/tvrzna/emptty
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	depends = pam
	depends = libx11
	optdepends = xorg-server: default display server
	optdepends = xorg-xauth: required if using xorg-server
	optdepends = util-linux: mcookie required if using xorg-server
	optdepends = wayland: alternative to xorg-server
	provides = emptty
	backup = etc/emptty/conf
	source = emptty-bin-0.12.1.tar.gz::https://github.com/tvrzna/emptty/releases/download/v0.12.1/emptty-bin-x86_64-0.12.1.tar.gz
	sha512sums = c83e16482369e3dbcdc24053e1a05da8b42d597cfe9a50aed91ebb0f02eee9d12f5789903f89e90472bca23b17e2083e721fb5ae674094d01e6258de572a82dc

pkgname = emptty-bin
